<div class="t-container">

	<div class="t-wrapper">
		<div class="t-heading">
			はじめに
		</div>
		<div class="t-content">
			<div class="t-sentence">
				阿部と申します。<br>
				アプリをご覧いただきありがとうございます。<br>
			</div>
			<div class="t-sentence">
				当アプリは私が教養として通っているプログラミングスクールで<span class="span-color">作成中の「フリマアプリ」です。</span>（メルカリのようなもの）<br>
				ダミーサイトですので、<span class="span-color">実際に支払いが発生したり、商品が届いたり、他者から連絡が来ることは一切ございません。</span><br>
				架空の情報や画像をお好きに登録していただいて差し支えありません。
			</div>
			<div class="t-sentence">
				<span class="span-strength">↓↓アプリはこちらから↓↓</span><br>
				<%= link_to items_path do%>
					<img src="assets/furima-logo-color.png" width="300" height="90">
				<%end%>
			</div>

			<div class="t-sentence">
				<span class="span-color">差し支えなければ、下記テストIDでログインしてください。</span>
			</div>

			<div class="t-sentence">
				ID1 メールアドレス：1@1　パスワード：a11111 (ユーザー名：テスト１)<br>
				ID2 メールアドレス：2@2　パスワード：a11111 (ユーザー名：テスト2)
			</div>

			<div class="t-sentence">
				「新規登録」よりご自身でIDを作成することもできます。
			</div>
		</div>
	</div>

	<div class="t-wrapper">
		<div class="t-heading">
			推奨環境
		</div>
		<div class="t-content">
			<div class="t-sentence">
				端末：PC<br>
				ブラウザ：GoogleChrome<br>
			</div>
			<div class="t-sentence">
				※上記の環境でないとサイトの体裁が崩れてしまう恐れがあります。
			</div>
		</div>
	</div>

	<div class="t-wrapper">
		<div class="t-heading">
			クレジットカード情報に関する注意点
		</div>
		<div class="t-content">
			<div class="t-sentence">
				商品購入画面では、クレジットカード情報を入力する必要があります。<br>
				<span class="span-color">下記のダミークレジットカード情報をメモしていただき、ご利用ください。</span>
			</div>
			<div class="t-sentence">
				カード番号：4242424242424242<br>
				有効期限：7月　21年<br>
				セキュリティーコード：123<br>
			</div>
			<div class="t-sentence">
				実際のクレジットカード情報を入力しても支払いは発生しないように設定はしておりますが、念の為、<span class="span-color">実際にお持ちのクレジットカード情報の入力はお控えください。</span>
			</div>
		</div>
	</div>

	<div class="t-wrapper">
		<div class="t-heading">
			アプリ利用方法　補足
		</div>
		<div class="t-content">
			<div class="t-sentence">
				・ログインしないと出品・購入機能は利用できません。
			</div>
			<div class="t-sentence">
				・出品はトップ画面右下の「出品する」より行えます。<br>
				　※実際に出品される訳ではありません。架空の情報や画像をお好きに登録していただいて差し支えありません。
			</div>
			<div class="t-sentence">
				・購入はトップ画面の下「ピックアップカテゴリー　新規登録商品」より画像をクリックすると行えます。<br>
				　※出品したIDでは当該商品の購入は行えず、商品情報の「編集」「削除」が行えます。<br>
				　<span class="span-color">※一定時間経過すると画像が表示されなくなりますが、テスト用サーバーの仕様です。</span>
			</div>
				
			</div>
		</div>
	</div>

</div>