.t-container{
padding:50px;
width:100Vw;
height:100vh;
}

.t-heading{
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px solid gray;
	font-size:20px;
	text-align: center;
}

.t-wrapper{
	margin-bottom:50px;
}

.t-wrapper2{
	margin-bottom:50px;
}

.t-sentence{
	margin-bottom:10px;
}

.span-strength{
	font-size:20px;
	font-weight:bold;
}

.span-color{
	color:blue;
}